#background {
  width: 100%;
  height: auto;
  border: 5px solid #000000;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7a130e;
}

/* Bottom left text */
.centre-right {
  position: absolute;
  top: 65%;
  right: 8%;
}

/* Style Select dropdown */
#sltFormat {
  background: #7a130e;
  color: white;
}

.centre-left {
  position: absolute;
  top: 65%;
  left: 8%;
  color: white;
}

#cardMaroon {
  background-color: #7a130e;
  color: white;
}

.utility {
  text-align: center;
  padding-top: 10px;
}

#calc {
  color: green;
}

#btnCalc {
  border: gold solid 2px;
}

/* #totalPerPerson {
  background-color: gold;
  color: green;
} */

#modalTotalHeader,
#modalFooterTotal {
  background-color: green;
  color: gold;
}

#modalBodyTotal {
  background-color: gold;
  color: green;
}

@media only screen and (max-width: 650px) {
  .centre {
    position: absolute;
    bottom: 1.5%;
    left: 25%;
    color: white;
    opacity: 0.75;
  }
}

@media only screen and (min-width: 650px) {
  .centre {
    position: absolute;
    bottom: 35%;
    left: 40%;
    color: white;
    opacity: 0.75;
  }
}
